@import '../../lib/mixins.less';

.b-page-test-question {

}

.b-page-test-question__question {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.b-page-test-question__answers {
  ._clearfix();
}

.b-page-test-question__answer {
  ._clearfix();
  border-radius: 3px;

  &:hover {
    background: #e1e1e1;
  }

  + .b-page-test-question__answer {
    margin-top: 10px;
  }
}

.b-page-test-question__answer-number {
  float: left;
  display: block;
  padding: 8px;
  vertical-align: top;
}

.b-page-test-question__answer-toggle-wr {
  overflow: hidden;
  display: block;
  padding: 4px;
  vertical-align: top;
}

.b-page-test-question__answer-toggle {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  margin: 9px 0 0 !important;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.b-page-test-question__answer-toggle-label {
  overflow: hidden;
  display: block;
  padding: 4px 4px 4px 10px;
  vertical-align: top;
  font-weight: normal;
  cursor: pointer;
}

.b-page-test-question__submit-wr {
  padding-top: 20px;
}

.b-page-test-question__submit {

}

.b-page-test-question__submit--disabled {
  opacity: 0.3;
}

.b-page-test-question__counter {
  float: right;
  display: block;
}
