@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";


.jumbotron {
	margin: 50px auto 0 auto;
	font-size: 16px;
	line-height: 1.4;
}

.b-main {

}

.b-test {

}

.b-test__question {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}

.b-test__answers {
	.clearfix();
}

.b-test__answer {
	.clearfix();
}

.b-test__answer-number {
	float: left;
	display: block;
	padding: 8px;
	vertical-align: top;
}

.b-test__answer-toggle-wr {
	overflow: hidden;
	display: block;
	padding: 4px;
	vertical-align: top;
}

.b-test__answer-toggle {
	float: left;
	display: block;
}

.b-test__answer-toggle-label {
	overflow: hidden;
	display: block;
	padding: 4px;
	vertical-align: top;
	font-weight: normal;
}

.b-test__submit-wr {
	padding-top: 20px;
}

.b-test__submit {

}

.b-result {

}

.b-result__fail-h1 {
	font-size: 2em;
	text-align: center;
	color: red;
}

.b-result__errors-wr {
	text-align: center;
}

.b-result__errors {
	text-align: left;
	display: inline-block;
}

.b-result__fail-error-h {
	font-size: 1.3em;
}

.b-result__error {
	.clearfix();
}

.b-result__error-number {
	float: left;
	padding: 4px;

	&:after {
		content: '.';
	}
}

.b-result__error-text {
	overflow: hidden;
	padding: 4px;
}

.b-result__success-h1 {
	font-size: 2em;
	text-align: center;
	color: green;
}

.b-result__reload-btn-wr {

}

.b-result__reload-btn {

}
