@import '../../lib/mixins.less';

.b-page-test-start {
  display: block;
}

.b-page-test-start__controls {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.b-page-test-start__password {
  margin: 0 0 20px;
}

.b-page-test-start__info {
  color: #777;
  font-size: 14px;
  //line-height: 1.5;
  //max-height: 300px;
  //padding: 10px;
  //overflow: hidden;
  //overflow-y: auto;
  //border: 1px solid #ccc;
}
